@import '../../styles/variables';
@import '../../styles/mixins/media-queries';
@import '../../styles/mixins/prefixer';

.hero{
  @include media(md){
    min-height: 500px;
  }
  @include media(md-max){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  .container{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    .title{
      color: $white;
    }
  }
  .description{
    max-width: 575px;
  }
}