@import 'variables';
@import "./mixins/media-queries";
body{
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 60px;
  @include media(lg){
    padding-top: 75px;
  }
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: none !important;
  }
}
section{
  @extend %section;
}