@import 'variables';
@import '/mixins/media-queries';
@import '/mixins/prefixer';

//Title
.title{
  font-size: $f-xxxlg;
  font-weight: 700;
  color: $text;
  @include media(md) {
    font-size: $f-mega;
  }
}
.lg-split-title{
  font-size: $f-xxxlg;
  max-width: 75%;
  @include media(md-max) {
    margin-bottom: 30px;
  }
  @include media(md) {
    font-size: $f-mega;
  }
  font-weight: 300;
  span{
    font-weight: 700;
  }
}