@import '../../styles/variables';
@import '../../styles/global';
.get-budget{
  h2 {
    @include media(md-max){
      font-size:$f-xxlg!important;
      margin-top: 0px !important;
    }
    font-weight: 600;
  }
  .btn-primary{
    display: inline-block;
    padding:20px 40px;
    margin:40px 0px 0px 0px;
    font-size: $f-md !important;
    -webkit-border-radius: 0;
    -moz-border-radius:0 ;
    border-radius: 0;
  }
}
